# testing overrides
# Copy to `.env.test`.

# email
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
EMAIL_SECURE=false
MAIL_USERNAME="d9fb119b814e4a"
MAIL_PASSWORD="XXX"
MAIL_FROM_ADDRESS="hello@gtdn.online"
MAIL_FROM_NAME="Start App (Dev)"

# Recipient for all inbound form submissions (Contact, Support, etc.)
GENERAL_FORMS_RECIPIENT="hello@gtdn.online"

# Pocketbase
NEXT_PUBLIC_PB_URL="https://pocketbase-start-dev.up.railway.app/"

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY="0x4AAAAAABoTApAdoBJeaARP"
TURNSTILE_SECRET_KEY="XYZ"

# Playwright
PLAYWRIGHT_MAILTRAP_API_TOKEN="XXX"
PLAYWRIGHT_MAILTRAP_INBOX_ID="4493130"
PLAYWRIGHT_MAILTRAP_ACCOUNT_ID="2662629"

# local only (dev tooling / typegen)
PB_SUPERUSER_EMAIL="hello@gtdn.online"
PB_SUPERUSER_PASSWORD="XYZ"

# third party scripts
# NEXT_PUBLIC_GA_ID="G-XYZ"
# NEXT_PUBLIC_GTM_ID="GTM-XYZ"
